.news-container {
    max-width: 1046px;
    padding: 0 15px;
    margin: 0 auto;
}
.news-text {
    margin: 92px 0 65px;
}
.news-text-heading {
    text-align: center;
    font-size: 13px;
    line-height: 13px; /* 100% */
    letter-spacing: 2.08px;
}
.news-text-paragraph {
    margin: 74px auto 0;
    text-align: left;
    max-width: 578px;
    font-size: 26px;
    line-height: 33.8px; /* 130% */
    letter-spacing: 0.78px;
}
.news-input {
    text-align: center;
    padding: 18px 0 18px 89px;
    margin-bottom: 65px;
}
.news-input input {
    width: 244px;
    height: 38px;
    flex-shrink: 0;
    border: 1px solid #000;
}
.news-input input + input {
    margin-left: 11px;
}
.input-button {
    margin-left: 31px;
    width: 99px;
    height: 22px;
    flex-shrink: 0;
    border: 1px solid #222;
    background: #222;
    color: #FFF;
    font-size: 14px;
}
.input-button:hover {
    background: #525252;
}

@media (max-width: 1017px) {
    .input-button {
        margin: 20px 0 0 0;
    }
    .news-input {
        width: 244px;
        padding: 0;
    }
    .news-input input + input {
        margin: 20px 0 0 0;
    }
    .news-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .news-text {
        margin: 42px 0 35px;
    }
    .news-text-paragraph {
        margin: 20px auto 0;
        text-align: center;
        max-width: 415px;
        font-size: 22px;
    }
}
